{% block form_row %}
    {% set col = col|default('col-md-8') %}
    {% set input_wrapper_class = (input_wrapper_class|default('')) ~ ' ' ~ col|trim %}
{% spaceless %}
<div class="form-group">
    {{ form_label(form, null, { label_attr: { class: 'col-md-4 control-label' } }) }}
    <div class="{{ input_wrapper_class }}">
        {{ form_widget(form) }}
    </div>
    {{ form_errors(form) }}
</div>
    {% endspaceless %}
{% endblock form_row %}
