{% block content_header %}<div class="large-icon users"></div><h1>Users &amp; Groups</h1>{% endblock %}

{% block inner_header %}
  {% set route = app.request.attributes.get('_route') %}
  <h2>{% block inner_subheader %}{% endblock %}</h2>
  <ul>
    <li{{ route == 'admin_users' ? ' class="active"' : '' }}><a href="{{ path('admin_users')}}">Users</a></li>
    <li{{ route == 'admin_groups' ? ' class="active"' : '' }}><a href="{{ path('admin_groups')}}">Groups</a></li>
  </ul>
{% endblock %}