{% extends '::base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<form action="{{ path('orkestra_profile') }}" method="post" {{ form_enctype(form) }}>
<div class="well">
    {{ form_widget(form) }}
    <p class="form-buttons">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </p>
</div>
</form>
{% endblock %}
