{% extends '::base.html.twig' %}

{% block innerbody %}
    <form action="{{ path('orkestra_profile') }}" method="post" {{ form_enctype(form) }}>
<h2>Change Password</h2>
<div class="well">
    {{ form_widget(form) }}
    <p class="form-buttons">
        <button type="submit" class="btn">Change Password</button>
    </p>
</div>
</form>
{% endblock %}
