/* dataTables */
.dataTables_wrapper {
  .dataTables_info {
    margin-top: 18px;
  }

  .dataTable {
    margin-top: 10px;
    margin-bottom:0;
    td {
      &.expander {
        width: 50px;
        text-align: center;
      }
    }

    tr.clickable {
      background-color: @table-bg-hover;
      cursor: pointer;
    }

    th {
      &[class*=sort] {
        cursor:pointer;
        &:after {
          content:"\f0dc";
          display:inline-block;
          color:#555;
          font-family:FontAwesome; font-size:13px; font-weight:normal;
          float:right;
          margin-right:4px;
          position:relative;
        }

        &:hover {
          //color:@table-sort-hover;
        }
      }

      &[class*=sorting_] {
        //color:@table-sort-active;
      }

      &.sorting {
        background: @widget-bg;
      }

      &.sorting_desc, &.sorting_asc {
        background: darken(@widget-bg, 2%);
      }

      &.sorting_desc:after {
        content:"\f0dd";
        top:-6px;
        //color:@table-sort-active;
      }
      &.sorting_asc:after {
        content:"\f0de";
        top:4px;
       //color:@table-sort-active;
      }

      &.sorting_disabled {
        color: inherit;
        cursor:inherit;

        &:after {
          display:none;
        }

        &:hover {
          color: inherit;
        }
      }
    }
  }
}
