{% extends '::base.html.twig' %}

{% block innerbody %}
<form action="{{ path('orkestra_user_create') }}" method="post" {{ form_enctype(form) }}>
<h2> New User </h2>
<div class="well">
    {{ form_widget(form) }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Create</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
