{% extends '::base.html.twig' %}

{% block innerbody %}
<form action="{{ path('orkestra_user_password_reset', { 'id': user.id }) }}" method="post" {{ form_enctype(form) }}>
    <h2>Reset Password</h2>
    <div class="well">

    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn">Change Password</button>
    </p>
    </div>
</form>
{% endblock %}
