<h1>Reset Password</h1>

<form action="{{ path('orkestra_user_password_reset', { 'id': user.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="form-buttons">
        <button type="submit">Change Password</button>
    </p>
</form>
