<strong>{{ user }}</strong>,<br />
<br/>
In order to set your account password please follow the link below:<br />
<br/>
<a href="{{ url('set_password', { 'guid' : guid }) }}">{{ url('set_password', { 'guid' : guid }) }}</a><br />
<br/>
Once you reset your password, you can login with the username: <strong>{{ user.username }}</strong><br/><br/>
<br/>
Note: the password reset link is only valid for 24 hours.<br /><br />
