<strong>{{ user }}</strong>,<br />
<br/>
In order to set your account password please follow the link below:<br />
<br/>
<a href="{{ url('orkestra_password_set_new', { 'hash' : hash }) }}">{{ url('orkestra_password_set_new', { 'hash' : hash }) }}</a><br />
<br/>
Once you reset your password, you can login with the username: <strong>{{ user.username }}</strong><br/><br/>
<br/>
Note: the password reset link is only valid for 24 hours.<br /><br />
